<div class="col-sm-3 col-md-2 sidebar" id="myscrollspy">
  <ul class="nav nav-pills nav-stacked nav-sidebar">
    <li class="dropdown">
      <a href="#issue" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{ page.title }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="">Issue I</a>
        </li>
        <li><a href="">Issue II</a>
        </li>
        <li><a href="">Issue III</a>
        </li>
      </ul>
    </li>
    <li><a href="#publication-details"><span class="glyphicon glyphicon-pencil"></span> Publication Details</a>
    </li>
    <li><a href="#table-of-contents-sequential"><span class="glyphicon glyphicon-th-list"></span> Table of Contents</a>
    </li>
    <li><a href="#cultural-threads"><span class="glyphicon glyphicon-plus"></span> Threads</a>
    </li>
    <li><a href="#commentary"><span class="glyphicon glyphicon-user"></span> Commentary</a>
    </li>
    <li><a href="#page"><span class="glyphicon glyphicon-file"></span> Pages</a>
    </li>
  </ul>
</div>